/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

html, 
body 
{
    min-width: 100vw;

}
.title-profile {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    width: 200px;
    height: 25px;
}
input {
    display: flex;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}