/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-signup {
    background-color: white;
    padding: 6px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

 .titulo {
    width: 350px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: 20px 10px 10px 10px;
}

.botao-switch {
    width: 350px;
    height: 40px;
    display: flex;
    border: 0.2px solid greenyellow;
    border-radius: 30px;
}

.btn-signup {
    padding: 5px 12px;
    background: linear-gradient(45deg,rgb(136, 243, 111), whitesmoke);
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-login {
    padding: 5px 12px;
    background: linear-gradient(45deg,rgb(136, 243, 111), whitesmoke);
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

form .cad-signup{
    width: 350px;
    height: 300px;
    align-items: left;
    text-align: left;
    margin: 20px 10px 10px 10px;
    flex-direction: column;
    display: flex;
    border: none;
    border-radius: 50%;
}

.label-name, .input-name {
    display: flex;
    justify-content: space-between;
}

#ft-name, #lt-name {
    width: 140px;
    height: 20px;
    position: relative;
    text-align: left;
}

#txt-fname, #txt-lname {
    border: none;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 8px 8px 8px 8px;
    outline: none;
    width: 140px;
    border: 0.2px solid black;
}

.dados label {
    width: 350px;
    height: 20px;
    position: relative;
}

.dados input {
    border: 0.2px solid black;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}
 .botao-signup {
    cursor: pointer;
    color: black;
    background-color: rgb(159, 238, 79);
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .05rem;
    border-radius: 20px;
    border: none;
    opacity: .8;
    transition: .3s;
  }