/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-signup {
    background-color: white;
    padding: 6px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.titulo {
    width: 350px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: 20px 10px 10px 10px;
}

#btn-check {
    display: none;
}

.switch {
    position: relative;
    background: rgb(241, 227, 227);
    width: 350px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.slider {
    position: absolute;
    background: greenyellow;
    border-radius: 30px;
    width: 150px;
    height: 45px;
    transition: all .5s ease-in-out;
}

#btn-check:checked~.switch {
    background: gainsboro;
}

#btn-check:checked~.switch .slider {
    transform: translateX(180px);
}

.switch #slider-login {
    position: absolute;
    right: 10px;
    padding: 55px;
  }
  
  .switch #slider-signup {
    position: absolute;
    left: 10px;
    padding: 40px;
  }
form .cad-signup {
    width: 350px;
    height: 300px;
    align-items: left;
    text-align: left;
    margin: 20px 10px 10px 10px;
    flex-direction: column;
    display: flex;
    border: none;
    border-radius: 50%;
}

.label-name,
.input-name {
    display: flex;
    justify-content: space-between;
}

#ft-name,
#lt-name {
    width: 140px;
    height: 20px;
    position: relative;
    text-align: left;
}

#txt-fname,
#txt-lname {
    border: none;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 8px 8px 8px 8px;
    outline: none;
    width: 140px;
    border: 0.2px solid black;
}

.dados label {
    width: 350px;
    height: 20px;
    position: relative;
}

.dados input {
    border: 0.2px solid black;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}

.botao-signup {
    cursor: pointer;
    color: black;
    background-color: rgb(159, 238, 79);
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .05rem;
    border-radius: 20px;
    border: none;
    opacity: .8;
    transition: .3s;
}