/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body
{
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verification-screen {
  background-color: white;
  padding: 6px;
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

 .screen-title {
  width: 400px ;
  display: inline-flex;
  justify-content: flex-start;
}

 h2 {
    padding-left: 100px;
    text-align: center;
    font-size:  1.3rem;
    font-weight: 600;
    letter-spacing: .04rem;
    color: black;
}

.arrow-back {
  margin: 10px;
  width: 20px;
  height: 20px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(-45deg);
}

.verification-screen .icon {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
}

.verification-screen .icon img {
  width: 60px;
  height: 60px;
}

.verification-screen h4 {
  font-size:  1.3rem;
  font-weight: 600;
  letter-spacing: .04rem;
  color: black;
}

.verification-screen form, .verification-screen form .code-input {
  width: 100%;
}

.verification-screen form .code-input {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.verification-screen form input {
  width: 55px;
  height: 55px;
  margin: 0 8px;
  font-size:  1.5rem;
  text-align: center;
  background: #f0f0f0;
  color: transparent;
  text-shadow: 0 0 0 #040305;
  transition: .1s ease-in-out;
  border: none;
  border-radius: 50%;
}

.verification-screen form input::-webkit-inner-spin-button {
  display: none;
}

.verification-screen form input:focus{
  outline: 1px solid #4135d6;
  outline-offset: 3px;
  background-color: #4135d6;
  color: white;
}

.verification-screen form .btn-confirm {
  cursor: pointer;
  pointer-events: none;
  color: black;
  background-color: rgb(159, 238, 79);
  width: 100%;
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .05rem;
  border-radius: 20px;
  border: none;
  opacity: .8;
  transition: .3s;
}

.verification-screen form .btn-confirm.ativo {
  opacity: 1;
  pointer-events: auto;
}

.verification-screen form button:hover{
  background-color: rgb(169, 237, 102);
}
a {
  text-decoration: none;
}
